body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif';
  background: #020c1f;
  color: #ffffff;
  div#root{
    background-color: rgba($color: #333333, $alpha: 0.7);
    max-width: 800px;
    margin: 30px auto;
    padding: 25px;
  }
  p{
    font-size: 15px;
    display: block;
  }
  ul{
    li a{
      color: #ffffff;
    }
  }
  .comments-wrap{
    background: #ffffff;
    padding: 25px;
    color: #333333;
  }
}